* {
  padding: 0;
  margin: 0;
}
:root {
  --background-white: #f0ebe3;
}
h1 {
  text-align: center;
  color: #10439f;
  margin-top: 40px;
  font-family: sans-serif;
}
body {
  background-color: var(--background-white);
}
.container {
  font-family: sans-serif;
  background-color: white;
  width: 45%;
  margin: auto;
  margin-top: 40px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px black;
}
.container p:first-of-type {
  font-size: larger;
  text-align: center;
  margin-bottom: 40px;
}
.container .question {
  font-size: 20px;
  color: #10439f;
  font-weight: bold;
}
.percentage{
  color: #10439f;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 6px solid #10439f;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 7px 6px 41px #10439f;
  font-weight: bold;
}
.options {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  font-size: 17px;
}
.options label {
  cursor: pointer;
}
.options input {
  margin-right: 20px;
}
.submit {
  display: flex;
  justify-content: end;
  margin-top: 50px;
}
.submit button {
  padding: 8px 35px;
  cursor: not-allowed;
  font-weight: bold;
  background-color: #2b3039;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.3;
}

#finishbtn{
  background-color: green;
  display: none;
}
@media only screen and (max-width:520px) {
  .container{
    width: 70%;
  }
  .container .question{
    font-size: 16px;
  }
  .submit button{
    padding: 6px 21px;
    font-size: 14px;
  }
  h1{
    font-size: 24px;
  }
  .container p:first-of-type{
    font-size: 13px;
    margin-bottom: 10PX;
  }
  .options{
    font-size: 12px;
    margin-top: 30px;
  }
}
